@model List<SGCorp.UI.Models.Applicant>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<div>
    <form action="/Home/Add">
        <button>Submit a Resume</button>
        <p></p>
    </form>

    <form action="/Home/ListResumes">
        <button>View Submitted Resumes</button>
        <p></p>
    </form>

    <form action="/Home/AddSuggestion">
        <button>Submit a Suggestion</button>
        <p></p>
    </form>

    <form action="/Home/ViewSuggestions">
        <button>View Submitted Suggestions</button>
        <p></p>
    </form>
</div>

