@using System.Web.Mvc.Html
@using SGCorp.Models
@using SGCorp.UI.Models
@model SGCorp.UI.Models.EmployeeTimesheetVM
@{
    ViewBag.Title = "Submit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Timesheets: Select Employee</h2>

<div class="row">
    <div class="clo=lg-6">
        @using (Html.BeginForm("Index", "Timesheet"))
        {
            @Html.HiddenFor(m => m.Employee.EmpId)
            <div class="form-group">
                <label>Select Employee</label>
                @Html.DropDownList("Select Employee", Model.Employees.ToString())
                
            </div>
        }
    </div>
</div>

