@using System.Web.Mvc.Html
@model SGCorp.UI.Models.EmployeeTimesheetVM
@{
    ViewBag.Title = "Submit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Timesheets: Select Employee</h2>

<div class="row">
    <div class="clo=lg-6">
        @using (Html.BeginForm("Submit", "Timesheet", FormMethod.Post))
        {
            <div class="form-group">
                <label>Select Employee</label>
                @Html.DropDownList("EmpId", Model.Employees, new { @class = "form-control" })
                <button class="btn btn-primary" style="margin-top: 10px; margin-bottom: 10px;">
                    Select This Employee
                </button>
            </div>
        }
    </div>


    <div class="col-md-6">
        @if (Model.Employee != null)
        {
            <h3 style="margin-top: 0px">Enter New Timesheet</h3>
                @Html.Hidden("empId",Model.Employee.EmpId)
            <h4 scope="row">Date:</h4>
                @Html.EditorFor(m=>m.Timesheet.Date)
            <h4 scope="row">Hours Worked (00.00-16.00):</h4>
                @Html.TextBoxFor(m=>m.Timesheet.Hours)
            <button class="btn btn-primary" style="margin-top: 10px; margin-bottom: 10px;">
                Submit this timesheet
            </button>
        }
    </div>
</div>
