@{
    ViewBag.Title = "DeleteSuggestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Suggestion has been deleted!</h2>
@Html.ActionLink("Return to Home", "Index", "Home", null, new {@class = "btn btn-success"})