@model SGCorp.Models.Suggestion
@{
    ViewBag.Title = "Completed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your suggestion has been submitted!</h2>
<p>Employee Name: @Html.DisplayFor(m => m.EmployeeName)</p>
<p>Suggestion: @Html.DisplayFor(m => m.SuggestionText)</p>
<p>Confirmation ID: @Html.DisplayFor(m => m.SuggestionId)</p>
@Html.ActionLink("Return to Home","Index","Home",null, new { @class = "btn btn-success"})


