@model List<SGCorp.Models.Resume>
@{
    ViewBag.Title = "ListResumes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListResumes</h2>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Resumes</div>

    <!-- Table -->
    @if (Model.Any())
    {
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Path</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var apps in Model)
            {
                <tr>
                    <td>@apps.ApplicantName</td>
                    <td>@apps.ResumeId</td>
                    <td>
                        @using (Html.BeginForm("ShowFile", "Resume"))
                        {
                            <input type="hidden" name="filePath" id="filePath" value="@apps.ResumeFilePath"/>
                            <input type="submit" class="btn btn-primary" value="Show File"/>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>There are no resumes to view.</p>
    }

</div>